<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body>
<nav>
    <ul class="menu">
        <li><a class="menu__link" th:href="@{/}">Welcome</a></li>
    </ul>
</nav>
<div class="container about">
    <div class="container__inner">
        <div class="content about">
            <h1>About us</h1>
            <p>This Thymeleaf template presents a form that captures a username and password and posts them to /login.
                As configured, Spring Security provides a filter that intercepts that request and authenticates the
                user. If the user fails to authenticate, the page is redirected to /login?error, and your page displays
                the appropriate error message. Upon successfully signing out, your application is sent to /login?logout,
                and your page displays the appropriate success message. </p>
        </div>
    </div>
</div>
<div th:insert="~{parts/footer :: footer}"></div>
</body>
</html>