<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
    <title>Account registration</title>
</head>
<body>
<nav>
    <ul class="menu">
        <li><a class="menu__link" th:href="@{/}">Welcome</a></li>
    </ul>
</nav>
<div class="container">
    <div class="container__inner">
        <h2 class="subtitle">Create an account</h2>
        <form class="form" action="#" th:action="@{/registration}" th:object="${user}" method="post">
            <div class="form__content">
                <div class="form-group">
                    <label for="login">Name:</label>
                    <input type="text" id="login" th:field="*{username}" placeholder="Enter you name:">
                    <!-- Thymeleaf attributes to bind fields to the User object -->
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" th:field="*{email}" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone number:</label>
                    <input type="tel" id="phone" th:field="*{phoneNumber}" placeholder="Enter your phone number">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" th:field="*{password}" placeholder="Enter your password">
                </div>
                <div class="form-group">
                    <label for="confirm-password">Duplicate password:</label>
                    <input type="password" id="confirm-password" name="confirmPassword"
                           placeholder="Duplicate your password">
                </div>
                <p th:if="${error_text} " th:text="${error_text}"></p>
            </div>
            <div class="form__buttons">
                <button type="submit" class="button">Sign up</button>
                <div>Already have an account?</div>
                <a href="/login" class="menu__link login blue">Log in</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
