ul[class] {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
}

p {
    margin: 0;
}

svg path, a {
    transition: .3s;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 72px;
    letter-spacing: 6px;
    margin-bottom: 0;
}

h2 {
    font-size: 50px;
    font-style: italic;
    letter-spacing: 6px;
    margin-top: 0;
}

.container {
    width: 100%;
    height: calc(100vh - 75px);
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
}

.container.about {
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__inner {
    max-width: 1290px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.container__catalog, .container__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.container__details {
    align-items: center;
    padding: 0 20px;
}

.container__products {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 40px;
}

.content__catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__product {
    background-color: black;
    color: #fff;
    font-size: 20px;
    box-shadow: 10px 10px 13px 0 rgba(18, 17, 18, 1);
    transition: .3s;
}

.content__product img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.card {
    display: block;
    height: 300px;
    width: 300px;
}

.content__catalog span {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.content-img {
    width: 300px;
    height: 350px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 5px 5px #000;
    transition: .3s;
    background-color: #cccccc;
}

.content-img:hover {
    transform: scale(1.1);
}

.content-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.container__inner.home {
    height: 100%;
    align-items: flex-end;
}

.container__inner.lk {
    padding-left: 100px;
}

.container__inner.login {
    max-width: 50%;
}

.container__inner.catalog {
    flex-direction: row;
}

nav, footer {
    background-color: #cccccc;
}

nav.catalog {
    display: flex;
    padding: 0 50px;
}

.menu {
    display: flex;
    column-gap: 45px;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
    max-width: 1290px;
    margin: 0 auto;
    width: 100%;
}

.menu.menu-left {
    justify-content: flex-start;
    width: 100%;
}

.menu.about {
    justify-content: center;
}

.menu__link {
    color: #000;
    transition: .3s;
    font-size: 22px;
}

.menu__link.login.blue {
    color: blue;
    text-decoration: underline;
}

.menu__link:hover, .menu__link:hover.login.blue {
    color: #45a049;
}

.menu__link svg {
    width: 30px;
    height: 30px;
}

.menu__link.login svg, .menu__link svg.avatar {
    width: 40px;
    height: 40px;
}

.menu__link svg:not(.heart):hover path {
    stroke: red;
}

.menu__link svg.heart:hover path {
    fill: red;
}

.button {
    background-color: #000000; /* Button background color */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 8px; /* Corner rounding */
    cursor: pointer;
    transition: .3s;
    width: 150px;
}

.button:hover {
    background-color: #45a049; /* Button background color when hovering */
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

label {
    margin-bottom: 10px;
}

.form-group {
    display: grid;
    grid-template:
            "label input"
            ". error" / 1fr 1fr;
    align-items: center;
}

.form-group:not(:last-child) {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    font-size: 22px;
    grid-area: label;
}

.form-group input {
    width: 450px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    grid-area: input;
}

.form-group select {
    width: 472px;
    height: 52px;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.form__buttons.login {
    align-items: flex-start;
    margin-top: 40px;
}

.subtitle {
    font-style: normal;
    letter-spacing: normal;
    margin-top: 20px;
}

.user {
    width: 160px;
}

.content.about {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    margin: 0 auto;
}

.content.about p {
    line-height: 2;
}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 40px;
}

.contact__item {
    font-size: 24px;
}

.error, .success {
    color: red;
    font-size: 20px;
    margin-bottom: 40px;
}

.success {
    color: #45a049;
}

.error.create-product {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
}

.error {
    grid-area: error;
}

.action__product {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: .3s;
}

.action__product:hover {
    color: #45a049;
}

.action__product svg:hover path {
    fill: red;
}

.action__product svg {
    width: 30px;
    height: 30px;
}

button.action__product {
    position: absolute;
    right: 20px;
    bottom: 25px;
}

.description {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.admin {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.edit, .delete {
    color: antiquewhite;
}

.edit, .delete {
    color: antiquewhite;
}

.edit:hover, .delete:hover {
    color: red;
}

.admin-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.details__img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.details__img img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.details__description {
    width: 600px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.details__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #cccccc;
    padding: 30px;
}

.details.button {
    width: 100%;
}
